<h1>Hello this is login page!</h1>

{# Optional #}
{# If the user enters wrong password, an error message will be shown #}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{# Optional #}
{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
    

<form action="{% url 'login' %}" method="post">

    {% csrf_token %}

    <p>Username: {{ form.username }}</p>
    <p>Password: {{ form.password }}</p>

    <input type="submit" value="login">
    
    <input type="hidden" value="{{ next }}" name="next">

</form>

{# Optional #}
{# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>